<!DOCTYPE html>
<html ng-app="myApp" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,width=device-width">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="theme-color" content="#f4cccc">
    <meta property="og:title" metaproperty="ogTitle" content="">
    <meta property="og:image" metaproperty="ogImage" content="">
    <meta property="og:url" metaproperty="ogUrl" content="">
    <meta property="og:description" metaproperty="ogDescription" content="">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="pt_BR">

    <title>Smart Streak</title>

    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900'>
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="timeline.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="style.css">

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

    <script src="app.js"></script>
    <script
    src="//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.7"></script>
    <script src="facebook.js"></script>

  </head>
  <body ng-controller="AppCtrl">
    <header>
      <h1>Smart Streak</h1>
    </header>
    <section class="form-wrapper" ng-show="!infoUser">
      <div>
        <input type="email" ng-model="userName" placeholder="Digite seu nome de usuário"/>
        <button type="button" name="button" ng-click="addMessage()">Checkin</button>
      </div>
    </section>
    <section ng-show="infoUser">
      <h2>{{ userName }}</h2>
      <dl>
        <dt>Últimos dias</dt>
        <dd><span> {{ lastDaysShow }} </span> treinos</dd>

        <dt>treinos consecutivos</dt>
        <dd><span>{{ streak }}</span> treinos</dd>

        <dt>treinos no ano</dt>
        <dd><span>{{ daysInYear }}</span> treinos</dd>
      </dl>

      <h3>Dias no ano</h3>
      <ol class="timeline">
        <li ng-repeat="day in days" ng-class="{ checked: day.status, today: $index == day }"></li>
      </ol>
      <div class="fb-share-button" data-href="http://www.smartfit.com.br/" data-layout="button"></div>
    </section>

    <footer>
      <p>
        made by team bacon @ Tegra Lab
      </p>
    </footer>
  </body>
</html>
