@import url('https://fonts.googleapis.com/css?family=Dosis:500|Orbitron:900');

body {
  min-height: 100vh;
  font-family: 'Dosis', sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF422;
}

header {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  text-transform: uppercase;
  background-color: black;
  padding: 30px 0;
  color: yellow;
}

h2 {
  margin: 20px;
  margin-bottom: 50px;
}

dt {
  text-transform: uppercase;
  margin-left: 20px;
  margin-bottom: 10px
}

dd {
  margin-bottom: 30px;
  margin-left: 20px;
}

span {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
  padding: 10px;
  /*margin-right: 5px;
  padding-top: 2px;*/
}
